body {
    background-color: #f5f9ff;
}

.card {
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.text-primary {
    color: #2563eb !important;
}

.profile-img {
    width: 220px;
    height: 220px;
    object-fit: cover;
}
